
@font-face {
  font-family: 'iconfont';  /* project id 527049 */
  src: url('//at.alicdn.com/t/font_527049_6jpcjm1j8qcl3di.eot');
  src: url('//at.alicdn.com/t/font_527049_6jpcjm1j8qcl3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_527049_6jpcjm1j8qcl3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_527049_6jpcjm1j8qcl3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_527049_6jpcjm1j8qcl3di.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wxbsousuotuiguang:before { content: "\e620"; }

